
*,
*::before,
*::after {
  box-sizing: border-box;
}

General Layout .app-container {
	display: flex;
	height: 100vh;
	overflow: hidden;
	max-width: 100%;
	overflow-x: hidden;
}

.content {
	flex-grow: 1;
	padding: 20px;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 100%;
	overflow-x: hidden;
}

html,
body {
	height: auto;
	overflow-y: auto;
	max-width: 100%;
	overflow-x: hidden;
}

.app-container {
	display: flex;
	height: 100vh;
	max-width: 100%;
	overflow-x: hidden;
}

.album py-5 bg-light {
	height: auto;
	overflow: auto;
}

.scroll-indicator {
	text-align: center;
	font-size: 1.2rem;
	margin: 20px 0;
	color: #555;
	animation: fadeIn 2s ease-in-out;
}

.scroll-indicator p {
	margin: 0;
	font-weight: bold;
	cursor: pointer;
}

.about-section {
	margin-top: 40px;
	text-align: center;
}

.about-section h2 {
	margin-bottom: 10px;
	font-size: 1.5rem;
	color: #333;
}

.about-section p {
	font-size: 1rem;
	color: #666;
	line-height: 1.5;
}

.welcome-animation {
	position: relative;
	text-align: center;
	font-size: 2rem;
	color: #000;
	animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
